<?xml version="1.0"?>
<!--
/*
 * @category    Sezzle
 * @package     Sezzle_Sezzlepay
 * @copyright   Copyright (c) Sezzle (https://www.sezzle.in/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <sezzlepay>
		        <active>1</active>
                <model>Sezzle\Sezzlepay\Model\SezzlePay</model>
                <order_status>processing</order_status>
                <merchant_country>IN</merchant_country>
                <payment_mode>live</payment_mode>
                <payment_action>authorize_capture</payment_action>
                <title>Sezzle</title>
                <widget_pdp>1</widget_pdp>
                <widget_cart>1</widget_cart>
                <logging_enabled>1</logging_enabled>    
            </sezzlepay>
        </payment>
    </default>
</config>
